body{
	font-size: 16px;
	background-color:#00b300; 
}
#header-nav{
	background-color: #66ff66;
	height: 70px;
}
.navbar-toggle{
	background-color: white;
	margin-top: 20px;
	border: 1px solid;
}
span{
	background-color: blue;
}
.navbar-brand{
	padding: 2px;
	text-align: center;
}
#ch{
	padding: 15px;
	color: #003300;
}
#su{
	padding: 15px;
	color: #003300;
}
#bf{
	padding: 15px;
	color: #003300;
}
p{
	color: #003300;
}
h1{
	text-align: center;
}
#menu{
	margin-top: 50px;

	
	color: #003300;
	
}
#chi{
	
	background-color: #00cccc;
	margin: 5px 15px 0px 15px;
	height: 50%;
	padding:5px;
}
#sushi{
		
	background-color: #00cccc;
	margin: 5px 15px 0px 15px;
	height:50%;
	padding:5px;
}
#beef{
	background-color: #00cccc;
	margin : 5px 15px 0px 15px;
	height: 50%;
	padding: 5px;
	
}
div{
	display:block;
}

@media (min-width: 1200px){
	#chi{
		margin-left: 140px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	#chi{
		margin-left: 100px;
	}
}
ul{
	margin-top: 5px;

}
button{
	margin-top: 5px;
}
li{
	background-color: #ff944d;
	text-align: center;
	border:1px solid;

}

